header {
	padding: 4rem 0 3rem 0;
}

header h1 {
}

header p {
	font-size: 2.4rem;
}

section {
	padding: 4rem 0 2em 0;
}

section .heading,
section .description {
	margin-bottom: 1.2rem;
}

.navbar {
  display: none;
}

.code-example {
  margin-bottom: 2.5rem;
}
.code-example-body {
  white-space: pre;
  word-wrap: break-word;
}

.example {
  position: relative;
  margin-top: 4rem;
}
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}
.example-description {
  margin-bottom: 1.5rem;
}

footer {
  border-top: 1px solid #eee;
	margin: 6em auto;
	text-align: center;
	font-size: 1.4rem;
}

footer p {
	margin: 1.5em 0;
}

footer ul {
	margin: 1.5em 0;
	list-style: none;
	padding-left: 0px;
	margin-left: -5px;
}
footer ul > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

@media (min-width: 550px) {
}

@media (min-width: 750px) {
  .navbar + section {
    border-top-width: 0;
  }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .navbar-spacer {
    display: none;
  }
  .navbar > .container {
    width: 100%;
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
  }
  .navbar-link {
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 2rem;
    text-decoration: none;
    line-height: 6.3rem;
    color: #222;
  }
  .navbar-link.active {
    color: #33C3F0;
  }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }
  .has-docked-nav .navbar-spacer {
    display: block;
  }
  .has-docked-nav .navbar > .container {
    width: 80%;
  }
}
